{% extends 'shared/base.html' %}

{% block content %}
    <h1>Add Employee </h1>
    <form>
        {% comment %} rst name {% endcomment %}
        <fieldset>
            <label >First Name</label>
            <input type="text" name="first_name" value="{{employee.first_name}}"/>
        </fieldset>
        {% comment %} Last name {% endcomment %}
        <fieldset>
            <label >Last Name</label>
            <input type="text" name="last_name" value="{{ employee.last_name }}"/>
        </fieldset>
        {% comment %} Employment start date {% endcomment %}
        <fieldset>
            <label >Start Date</label>
        <input type="text" name="start_date" value="{{ employee.start_date }}"/>
        </fieldset>
        {% comment %} Select a department from a drop down {% endcomment %}
        <fieldset>
            <label >Department</label>
            <input type="text" name="department" value="{{ employee.department }}"/>
        </fieldset>
    </form>
{% endblock content %}