{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HR App</title>
</head>

<body>
    <h1>Training Program Form</h1>

    {% if training_program.id is not None %}
        <form action="{% url 'hrapp:training_program' training_program.id %}" method="post">
        {% csrf_token %}
    {% else %}
        <form action="{% url 'hrapp:trainingprograms' %}" method="post">
        {% csrf_token %}
    {% endif %}
        <fieldset>
            <label for="title">Title: </label>
            <input id="title" type="text" name="title" value="{{ training_program.title }}">
        </fieldset>
        <fieldset>
            <label for="start_date">Start Date: </label>
            <input id="start_date" type="text" name="start_date" value="{{ training_program.start_date }}">
        </fieldset>
        <fieldset>
            <label for="end_date">End Date: </label>
            <input id="end_date" type="date" name="end_date" value="{{ training_program.end_date }}">
        </fieldset>
        <fieldset>
            <label for="capacity">Capacity: </label>
            <input id="capacity" type="date" name="capacity" value="{{ training_program.capacity }}">
        </fieldset>
        {% if training_program.id is not None %}
        <fieldset>
            <label for="employee">Employees: </label>
            <select id="employee" type="text" name="employee">
                {% for employee in employees %}
                <option {% if employee.id == trainingprogramemployee.employee_id %}selected{% endif %} value="{{ employee.id }}">
                    {{ employee.first_name }} {{ employee.last_name}}</option>
                {% endfor %}
            </select>
        </fieldset>
        {% endif %}

        {% if training_program.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
</body>

</html>
