{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %} 

{% block content %}
<h1>Training Programs</h1>

<dialog class="infoDialog">
    <div class="infoDialog__message"></div>
    <button class="closeDialog">Close</button>
</dialog>

<button class="add_tp_btn"><a href="{% url 'hrapp:training_program_form' %}">Add Training Program</a></button>

<h2>Upcoming Programs</h2>
<ol class="training_programs">
    {% for training_program in all_training_programs %}
    <li class="program">{{ training_program.title }}
        <button class="tp_list_btn">
            <a class="program__title" href="{% url 'hrapp:training_program' training_program.id %}">Details</a>
        </button>

    </li>
    {% endfor %}
</ol>
<h2>Past Programs</h2>
<ol class="training_programs-past">
    {% for training_program in past_training_programs %}
    <li class="program__title">{{ training_program.title }}<button class="past_tp_btn"><a href="{% url 'hrapp:training_program' training_program.id %}">Details</a></button></li>
        {% comment %} <li class="program__title" href="{% url 'hrapp:training_program' training_program.id %}">
            {{ training_program.title }}</li> {% endcomment %}
    {% endfor %}
</ol>

{% endblock %} 
